
<div class="container px-0">
    
    <div class="container-fluid px-0 py-2 {{ !page ? 'hidden-component' : 'round-border' }}">
        
        <div>
            <table mat-table class="w-100"
                [dataSource]="page.content">
                
                
                <ng-container matColumnDef="id">
                    <th mat-header-cell
                        *matHeaderCellDef>{{ 'Id' }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.id">
                            {{ element.id }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="make">
                    <th mat-header-cell
                        *matHeaderCellDef>{{ 'Make' }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.make">
                            {{ element.make }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="model">
                    <th mat-header-cell
                        *matHeaderCellDef>{{ 'Model' }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.model">
                            {{ element.model }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="numberplate">
                    <th mat-header-cell
                        *matHeaderCellDef>{{ 'Number plate' }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.numberplate">
                            {{ element.numberplate }}
                        </span>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
    
    </div>
</div>